/* General body styling */
body {
    background: linear-gradient(to right, purple, rgb(83, 45, 2), rgb(36, 38, 148));
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

/* Navigation menu styling */
nav {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

/* Navigation list styling */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: auto;
}

/* Navigation list item styling */
nav ul li {
    margin: 0 10px;
}

/* Navigation link styling */
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
}

/* Navigation link hover effect */
nav ul li a:hover {
    background-color: #224b66;
    color: #fff;
    transform: scale(1.1);
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

/* Active navigation link styling */
nav ul li a.active {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: 2px solid #6ec6ff;
    transition: border 0.3s, background-color 0.3s, color 0.3s;
}

/* Section styling */
section {
    margin-top: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Table container styling */
.table-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1200px;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow-x: auto;
}

/* Table container hover effect */
.table-container:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(30, 30, 30, 0.9);
    border-radius: 10px;
    overflow: hidden;
    font-size: 0.9em;
    table-layout: fixed;
    margin: 0 auto;
}

/* Table, header, and cell border styling */
table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Table header and cell padding and text alignment */
th, td {
    padding: 6px 8px;
    text-align: left;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s;
    color: white;
}

/* Table header styling */
th {
    background-color: rgba(29, 27, 107, 0.322);
    color: white;
    position: relative;
    cursor: pointer;
}

/* Even row styling */
tr:nth-child(even) {
    background-color: rgba(58, 55, 55, 0.9);
}

/* Copy icon styling */
.copy-icon {
    margin-left: 10px;
    cursor: pointer;
    color: white;
    transition: color 0.3s;
}

/* Copy icon hover effect */
.copy-icon:hover {
    color: #6ec6ff;
    transform: rotate(20deg);
    transition: transform 0.3s;
}

/* Info icon hover effect */
.info-icon:hover {
    color: #6ec6ff;
    transform: rotate(20deg);
    transition: transform 0.3s;
}

/* Table header underline effect */
th::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #2962ff, #6ec6ff);
}

/* Copy notification styling */
.copy-notification {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
}

/* Compatibility cell styling */
.compatible-no {
    color: red;
}

.compatible-yes {
    color: green;
    font-weight: bold;
}

/* Notes cell styling */
.notes-high-end {
    color: green;
    font-weight: bold;
}

.notes-comfort-menu {
    color: rgb(99, 165, 99);
    font-weight: bold;
}

.notes-medium {
    color: orange;
}

.notes-highend {
    color: green;
    font-weight: bold;
}

/* Styl pro odkaz "více info" */
#toggle7N0Info {
    color: #09ff00;
    text-decoration: underline;
    cursor: pointer;
}

#toggle7N0Info:hover {
    color: #a7b300;
}

/* Styl pro text "7N0-907-530-XX" */
.infogateway strong:first-child {
    color: white;
    text-decoration: none;
}

/* Fog light support cell styling */
.fog-light-no {
    color: red;
    font-weight: bold;
}

.fog-light-mlhovkami {
    color: green;
    font-weight: bold;
}

.fog-light-dalkovymi {
    color: rgb(51, 51, 245);
}

/* Download container styling */
.download-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    text-align: center;
    border-radius: 50px;
    width: 30%;
    max-width: 1200px;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Download container hover effect */
.download-container:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Download link styling */
.download-container a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(16, 94, 0);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Download link hover effect */
.download-container a:hover {
    background-color: rgb(24, 144, 0);
}

/* Download container paragraph styling */
.download-container p {
    margin-top: 10px;
    font-size: 0.9em;
}

/* Note paragraph styling */
.note {
    color: red;
    margin-top: 20px;
    font-size: 0.8em;
}

/* Description container styling */
.description-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.8em;
    line-height: 1.2em;
    width: 100%;
    max-width: 1200px;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Description container hover effect */
.description-container:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Image gallery styling */
.image-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

/* Image gallery image styling */
.image-gallery img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Image gallery image hover effect */
.image-gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.warning {
    background-color: rgba(255, 255, 0, 0.2);
    border: 1px solid rgba(255, 255, 0, 0.5);
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
    color: #f0e68c;
    font-size: 0.9em;
    line-height: 1.3em;
}

.warning strong {
    font-weight: bold;
    color: #ffd700;
}

.infogateway {
    background-color: rgba(5, 97, 172, 0.2);
    border: 1px solid rgba(11, 154, 255, 0.2);
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 0.9em;
    line-height: 1.3em;
}

.infogateway strong {
    font-weight: bold;
    color: #006eff;
}

/* Dropdown menu styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #224b66;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #224b66;
}

/* Styly pro mobilní zobrazení */
@media (max-width: 768px) {
   /* Tabulka hover odstranění */
    .table-container:hover {
    transform: none;
    box-shadow: none;
}
   tr:hover {
    background-color: initial;
    }


    .warning {
        padding: 8px;
        font-size: 0.8em;
        margin: 10px 0;
    }

    nav {
        height: 50px;
        left: 0;
        transform: none;
        width: 100%;
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 10px 0;
        border-radius: 10px;
        animation: slideDown 0.5s ease-in-out;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        padding: 8px;
        font-size: 0.9em;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        color: white;
        font-size: 1.5em;
        margin: 10px;
        position: absolute;
        right: 10px;
        transition: transform 0.3s;
    }
    .menu-toggle:hover {
        transform: rotate(90deg);
    }
   section {
        margin-top: 100px;
        padding: 10px;
    }
    /* Nadpisy v sekcích */
    section h1 {
        text-align: center; /* Centrování nadpisu */
        font-size: 1.5em; /* Zmenšení nadpisu */
        margin-bottom: 10px; /* Mezera pod nadpisem */
    }

    /* Optimalizace pro tablety a mobilní telefony */
     .table-container {
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        overflow-x: auto;
        display: block;
        -webkit-overflow-scrolling: touch;
    }

    table {
        width: 100%;
        table-layout: auto;
        font-size: 0.7em;
        margin: 0;
        display: table;
    }
     th, td {
        padding: 6px 8px;
        display: table-cell;
        text-align: left;
        vertical-align: top;
        word-wrap: break-word;
    }

    .download-container {
        width: 90%;
        padding: 20px;
    }

    .image-gallery img {
        width: 80px;
    }
 .dropdown-content {
        position: relative; /* Změna na relative pro mobilní zobrazení */
        background-color: rgba(0, 0, 0, 0.8);
        min-width: 100%;
        box-shadow: none;
       display: none;
    }

    .dropdown:hover .dropdown-content {
      display: none;
    }

   .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
    }
   
      .dropdown .dropbtn::after {
           content: '\25BC'; /* Ikona šipky dolů */
        float: right;
        margin-right: 10px;
    }
   .dropdown-content.show { /* Přidána třída .show pro zobrazení */
       display: block; /* Zobrazuje obsah, když má třídu show */
   }

}

@media (min-width: 769px) {
    .menu-toggle {
        display: none;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}