/* General body styling */
body {
    background: linear-gradient(to right, purple, rgb(83, 45, 2), rgb(36, 38, 148));
    background-size: cover; /* Ensure background covers the entire screen */
    background-attachment: fixed; /* Fix background in place */
    background-position: center; /* Center the background */
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

/* Navigation menu styling */
nav {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Navigation list styling */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Navigation list item styling */
nav ul li {
    margin: 0 10px;
}

/* Navigation link styling */
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

/* Navigation link hover effect */
nav ul li a:hover {
    background-color: #224b66;
}

/* Active navigation link styling */
nav ul li a.active, nav ul li a[href="index.html"] {
    background-color: #175781;
    color: black;
}

/* Section styling */
section {
    margin-top: 60px; /* Adjust margin to account for fixed nav */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Table container styling */
.table-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1200px;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow-x: auto; /* Allow horizontal scrolling if needed */
}

/* Table container hover effect */
.table-container:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(30, 30, 30, 0.9);
    border-radius: 10px;
    overflow: hidden;
    font-size: 0.9em; /* Reduce font size */
    table-layout: fixed;
    margin: 0 auto; /* Center the table */
}

/* Table, header, and cell border styling */
table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Table header and cell padding and text alignment */
th, td {
    padding: 6px 8px; /* Reduce padding */
    text-align: left;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s;
    color: white;
}

/* Table header styling */
th {
    background-color: rgba(29, 27, 107, 0.322);
    color: white;
    position: relative;
    cursor: pointer;
}

/* Even row styling */
tr:nth-child(even) {
    background-color: rgba(58, 55, 55, 0.9);
}

/* Row hover effect */
tr:hover {
    background-color: rgba(2, 54, 46, 0.5);
}

/* Copy icon styling */
.copy-icon {
    margin-left: 10px;
    cursor: pointer;
    color: white;
    transition: color 0.3s;
}

/* Copy icon hover effect */
.copy-icon:hover {
    color: #6ec6ff;
}

/* Table header underline effect */
th::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #2962ff, #6ec6ff);
}

/* Copy notification styling */
.copy-notification {
    display: none;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
}

/* Compatibility cell styling */
.compatible-no {
    color: red;
}

.compatible-yes {
    color: green;
    font-weight: bold;
}

/* Notes cell styling */
.notes-high-end {
    color: green;
    font-weight: bold;
}

.notes-comfort-menu {
    color: rgb(99, 165, 99);
    font-weight: bold;
}

.notes-medium {
    color: orange;
}

.notes-highend {
    color: green;
    font-weight: bold;
}

/* Fog light support cell styling */
.fog-light-no {
    color: red;
    font-weight: bold;
}

.fog-light-mlhovkami {
    color: green;
    font-weight: bold;
}

.fog-light-dalkovymi {
    color: rgb(51, 51, 245);
}

/* Download container styling */
.download-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    text-align: center;
    border-radius: 50px;
    width: 30%;
    max-width: 1200px;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Download container hover effect */
.download-container:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Download link styling */
.download-container a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(16, 94, 0);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Download link hover effect */
.download-container a:hover {
    background-color: rgb(24, 144, 0);
}

/* Download container paragraph styling */
.download-container p {
    margin-top: 10px;
    font-size: 0.9em;
}

/* Note paragraph styling */
.note {
    color: red;
    margin-top: 20px;
    font-size: 0.8em;
}

/* Description container styling */
.description-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.8em;
    line-height: 1.2em;
    width: 100%;
    max-width: 1200px;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Description container hover effect */
.description-container:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Image gallery styling */
.image-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

/* Image gallery image styling */
.image-gallery img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Image gallery image hover effect */
.image-gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.warning {
    background-color: rgba(255, 255, 0, 0.2); /* Světle žluté pozadí */
    border: 1px solid rgba(255, 255, 0, 0.5); /* Oranžový okraj */
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
    color: #f0e68c; /* Trochu tmavší žlutá */
    font-size: 0.9em;
    line-height: 1.3em;
  }
  
  .warning strong {
      font-weight: bold;
      color: #ffd700;
  }
  @media (max-width: 768px) {
    .warning {
      padding: 8px;
      font-size: 0.8em;
      margin: 10px 0;
    }
  }
/* Responsive styling */
@media (max-width: 768px) {
    nav {
         height: 50px;
     }
  nav ul {
     flex-direction: column;
     align-items: center;
     display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
     background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
}

    nav ul.show {
        display: flex; /* Show menu when toggled */
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        padding: 8px;
        font-size: 0.9em;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        color: white;
        font-size: 1.5em;
        margin: 10px;
        position: absolute;
        right: 10px;
    }

    section {
        margin-top: 100px;
        padding: 10px;
    }

    .table-container {
        padding: 10px;
        overflow-x: auto;
    }

    table {
        width: 100%;
        table-layout: auto;
        font-size: 0.7em;
        margin: 0 auto; /* Center the table */
    }

    th, td {
        padding: 6px 8px;
    }

    .download-container {
        width: 90%;
        padding: 20px;
    }

    .image-gallery img {
        width: 80px;
    }
}

@media (min-width: 769px) {
    .menu-toggle {
        display: none;
    }
}