:root {
    --background-color: #181818;
    --text-color: #eee;
    --table-header-bg: #2962ff;
    --table-header-text: #fff;
    --table-row-even-bg: #222;
    --table-row-hover-bg: #333;
    --highlight-bg: #424221;
    --high-end-bg: #274e13;
    --high-end-text: #8fce00;
    --compatible-yes-color: #4caf50;
    --compatible-no-color: #f44336;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    --menu-bg-color: #282c34;
    --menu-hover-bg-color: #373c47;
    --menu-active-bg-color: #2962ff;
    --menu-text-color: #eee;
    --menu-hover-text-color: #fff;
    --menu-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

h1, h2, h3 {
    text-align: center;
    color: var(--text-color);
    margin-top: 20px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

h2{
    margin-top: 40px;
}

table {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: var(--box-shadow);
    background-color: var(--background-color);
    overflow: hidden;
    border-radius: 10px;
}

th, td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s;
    font-size: 0.9em;
}

th {
    background-color: var(--table-header-bg);
    color: var(--table-header-text);
    position: relative;
    cursor: pointer;
}

th::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #2962ff, #6ec6ff);
}

tr:nth-child(even) {
    background-color: var(--table-row-even-bg);
}

tr:hover {
    background-color: var(--table-row-hover-bg);
}

.compatible-yes {
    color: var(--compatible-yes-color);
    font-weight: bold;
}

.compatible-no {
    color: var(--compatible-no-color);
    font-weight: bold;
}

.notes {
    font-size: 0.9em;
    color: #bbb;
}

.highlight {
    background-color: var(--highlight-bg);
}

.high-end {
    background-color: var(--high-end-bg);
}

.high-end-cell{
  color: var(--high-end-text);
}

.high-end-label {
    font-weight: bold;
    color: var(--high-end-text);
    margin-left: 10px;
}

.fog-light-support {
    color: var(--compatible-yes-color);
}

.no-fog-light-support {
    color: var(--compatible-no-color);
}

.main-light-support{
    color: var(--compatible-yes-color);
}

.unknown-fog-light-support {
    color: #d3d30f;
}

.bsg-table {
    width: 70%;
    max-width: 900px;
}

.container {
    max-width: 95%;
    margin: auto;
    overflow: hidden;
     padding-top: 60px; /* přidáno pro posunutí obsahu pod fixní menu */
}

.maxidot-support {
    color: var(--compatible-yes-color);
}

.description-box {
    background-color: #222;
    border: 1px solid #444;
    padding: 10px;
    margin: 20px auto;
    width: 80%;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.description-box p {
    margin: 5px 0;
}

/* Menu */
.top-menu {
    background-color: var(--menu-bg-color);
    color: var(--menu-text-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: var(--menu-shadow);
}

.menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.top-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    transition: max-height 0.4s ease-in-out;
    max-height: 100px;
}

.top-menu li {
    margin: 0 15px;
}

.top-menu a {
    color: var(--menu-text-color);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.1em;
}

.top-menu a:hover {
    background-color: var(--menu-hover-bg-color);
    color: var(--menu-hover-text-color);
}

.top-menu a.active {
    background-color: var(--menu-active-bg-color);
    color: #fff;
}

/* Styly pro hamburger menu */
.menu-icon {
    display: none; /* Skryjeme na desktopu */
    cursor: pointer;
    margin-right: auto;
    padding: 10px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--menu-text-color);
    margin: 5px 0;
    transition: 0.4s;
}

/* Styly pro download.html */
.download-content {
    background-color: #222;
    border: 1px solid #444;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    text-align: center;
}

.download-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

.download-button {
    background-color: var(--menu-active-bg-color);
    color: #fff;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 1.1em;
}

.download-button:hover {
    background-color: #1f49b3;
}

.download-description {
    margin-top: 10px;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 20px;
}

.download-features {
    text-align: left;
    margin-bottom: 20px;
}

.download-features ul {
    padding-left: 20px;
}

.download-features li {
    margin-bottom: 8px;
}

.download-note {
    margin-top: 10px;
    font-size: 0.8em;
    color: #bbb;
}

/* Styly pro mobilní zařízení */
@media (max-width: 768px) {
    .container{
        padding-top: 70px;
    }
      .top-menu {
        padding: 10px 0;
    }

    .top-menu ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        max-height: 300px;
        overflow: hidden;
    }

  .top-menu ul.show {
      display: flex;
  }

    .top-menu li {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
    }

    table {
        width: 95%;
        font-size: 0.8em;
    }

    .bsg-table {
        width: 90%;
    }

    th, td {
        padding: 8px 10px;
    }

    .description-box, .download-content {
        width: 90%;
    }

    .download-image {
        margin-bottom: 10px;
    }

    .download-button {
        padding: 10px 15px;
        font-size: 1em;
    }

    
}
